.chat-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    background: #f8f9fa;
    border-radius: 10px;
    padding: 10px;
}

/* Zone d'affichage des messages */
.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Style pour un message */
.message {
    padding: 8px 12px;
    margin: 5px;
    border-radius: 18px;
    max-width: 75%;
    word-wrap: break-word;
}

/* Messages envoyés (alignés à gauche) */
.sent {
    align-self: flex-start;
    background-color: #d1ecf1;
    color: #0c5460;
}

/* Messages reçus (alignés à droite) */
.received {
    align-self: flex-end;
    background-color: #e2e3e5;
    color: #495057;
}

/* Zone de saisie du message */
.chat-input-container {
    display: flex;
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
}

.message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-message {
    padding: 10px 15px;
}

/* Bloc supérieur du chat */
#chat-header {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#block-friend {
    padding: 5px 10px;
}

.friends-list-container {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 310px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#friends-list li .friend-name {
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.name-chat {
	color : var(--neon-purple);
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-friends-message {
    border-radius: 8px; /* Bordures arrondies */
    border: 2px solid var(--neon-blue) !important; /* Bordure de 2px de couleur wheat */
    font-size: 1.2rem;
    text-align: center; /* Centrer le texte */
    font-weight: bold;
    white-space: normal; /* Permet au texte de passer à la ligne si nécessaire */
    word-wrap: break-word; /* Permet de couper les mots longs pour éviter le débordement */
    width: 100%; /* Assure que le conteneur occupe toute la largeur */
}

.no-friends-message .friend-name {
    color: var(--neon-blue) !important;
}