DJANGO_SECRET_KEY='django-insecure-!%z-tc^4+^@*bx5&0679%b$v^s2(vgt-s3r=f!vr9=_h726ot6'

POSTGRES_DB=player_db
POSTGRES_USER=player_user
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=db
POSTGRES_PORT=5432

INTRA_CLIENT_ID=u-s4t2ud-1a605d150529911756f4ac66299ed51b6ca32dcda1e8fa1a6230fe5ea2a6614e
INTRA_CLIENT_SECRET=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
INTRA_REDIRECT_URI=https://${SERVER_IP}/authentication/intra/callback/
IP_ADDRESS=${SERVER_IP}